/*
    Autor: Andres Marquez.
    Mi portafolio.
    Contacto: +58 412 929 8833
*/

@import url("../fontawesome/css/all.min.css");
@import url("../fontawesome/css/regular.min.css");
@import url("../fontawesome/css/brands.min.css");
@import url("../fontawesome/css/v4-shims.min.css");
@import url("../fontawesome/css/solid.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --header-height: 4rem;
  --font-semni: 600;
}

:root {
  --first-color: #3475dd;
  /* colores light mode */
  --second-color: #3b3f44;
  --three-color: #fff;
  --container-color: #fff;
  --for-color: #fdfdfd;
  --five-color: #0a1117;
  --name-opacity: #e0e3ea;
  --shadow-tecnologi: #25252514;
  --first-color-img-work: #0a1117fb;
  --second-color-img-work: #081117f8;
  --text-color-img-work: white;
  --border-input: #e4e8ec;
  /* colores dark mode */
  /*--second-color: #ffffff;
    --three-color: #0a1017;
    --container-color: #0f171f;
    --for-color: #0c131b;
    --five-color: #0c131b;
    --name-opacity: #1d2732;
    --shadow-tecnologi: #b9b9b914;
    --first-color-img-work: #e7edf2 ;
    --second-color-img-work: #a4afb7;
    --text-color-img-work: #0a1117;
    --border-input: #282e35;*/
  --text-white: #fff;
  --shadow-color: rgba(44, 43, 53, 0.493);
  --shadow-color-2: black;
}

:root {
  --big-font-size: 3.3rem;
  --font-size-title: 2rem;
  --h2: 1.5rem;
  --h1: 2.5rem;
  --normal-font-size: 0.938rem;
}

@media screen and (max-width: 1024px) {
  :root {
    --big-font-size: 2.8rem;
    --h2: 2rem;
    --font-size-title: 2rem;
    --h1: 2.5rem;
    --normal-font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
  :root {
    --big-font-size: 2.1rem;
    --h2: 1.3rem;
    --font-size-title: 1.6rem;
    --h1: 1.5rem;
    --normal-font-size: 0.8rem;
  }
}

@media (min-width: 1025px) {
  :root {
    --big-font-size: 3rem;
    --font-size-title: 2.2rem;
    --h2: 2rem;
    --normal-font-size: 1rem;
  }
}

:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

:root {
  --z-fixed: 100;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: var(--normal-font-size);
  color: var(--second-color);
  overflow-x: hidden;
  line-height: 1.4;
  transition: all 0.5s ease-in-out;
  background-color: var(--three-color);
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--second-color);
  border-radius: 50rem;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: #f2f2f200;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

label {
  display: block;
  margin-bottom: 0.25rem;
}

input {
  height: calc(1.5em + 0.75rem + 2px);
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 0.34rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: var(--three-color);
  background-clip: padding-box;
  border: 3px solid var(--border-input);
  border-radius: 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;
}

input:focus,
textarea:focus {
  color: #495057;
  background-color: var(--three-color);
  border-color: var(--border-input);
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(55, 151, 255, 0.25);
}

input::placeholder,
textarea::placeholder {
  color: #6c757d;
  opacity: 1;
}

:root {
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-primary-rgb: 120, 174, 255;
  --bd-violet-rgb: 176, 129, 236;
  --bd-accent-rgb: 255, 132, 138;
  --bd-pink-rgb: 211, 67, 255;
  --bd-yellow-rgb: 255, 234, 158;

  /* --bs-body-bg-rgb: 255, 255, 255;
  --bs-primary-rgb: 17, 20, 53;
  --bd-violet-rgb: 44, 5, 99;
  --bd-accent-rgb: 43, 26, 73;
  --bd-pink-rgb: 29, 19, 32;
  --bd-yellow-rgb: 25, 15, 63; */
}

.bg-font {
  background-image: radial-gradient(
      ellipse at top left,
      rgba(var(--bs-primary-rgb), 0.5),
      transparent 50%
    ),
    radial-gradient(
      ellipse at top right,
      rgba(var(--bd-accent-rgb), 0.5),
      transparent 50%
    ),
    radial-gradient(
      ellipse at center right,
      rgba(var(--bd-violet-rgb), 0.5),
      transparent 50%
    ),
    radial-gradient(
      ellipse at center left,
      rgba(var(--bd-yellow-rgb), 0.5),
      transparent 50%
    );
}

/* Creador de grillas */
.bd-grid {
  max-width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.section {
  padding-top: var(--mb-3);
  padding-bottom: var(--mb-3);
}
/* Fin de creador de grillas */
/*Deseño de botones*/
.button_contacts {
  line-height: 55px;
  margin: 0;
  letter-spacing: 0;
  font-weight: 500;
  padding: 0.25rem 1.5rem;
  background-image: linear-gradient(
    90deg,
    #34c9dd 0%,
    var(--first-color) 51%,
    #3b86ff 100%
  );
  background-size: 200% auto;
  z-index: 2;
  display: inline-block;
  transition: all 0.5s ease-in-out;
  text-align: center;
  color: var(--text-white);
  border: 0;
  border-radius: 5rem;
  line-height: 34px;
}

.button_link {
  color: rgb(11, 12, 20);
  background-image: linear-gradient(
    90deg,
    #eaf4f7 0%,
    #cdd1da 51%,
    #eaf4f7 100%
  );
}

.button_contacts:hover {
  transition: all 0.3s ease-in-out;
  background-position: right center;
  box-shadow: 0px 2px 20px -3px #00000026;
}

.button_contacts:focus {
  transition: all 0.5s;
  box-shadow: 0 5px 36px rgba(0, 0, 0, 0.15);
  transform: scale(0.95);
}
/* FIn del diseño de los botones */
/* Estilos de la barra superior */
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: all 0.5s ease-in-out;
}

.l-header-scroll-not {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0);
}

.l-header-scroll {
  background-color: var(--three-color);
  box-shadow: 0 1px 4px rgba(107, 118, 129, 0.233);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .nav_menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--three-color);
    transition: 0.5s;
    box-shadow: -2px 9px 6px -2px rgb(30, 60, 78, 40%);
  }
}

.nav_item {
  margin-bottom: var(--mb-4);
  margin-left: var(--mb-1);
}

.nav_link {
  color: var(--first-color-img-work);
  padding: 0.8rem;
}

.nav_logo {
  color: var(--second-color);
}

.nav_toogle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.social_media {
  text-align: center;
}

.social_media a {
  color: var(--second-color) !important;
  margin: 0 0.3rem;
  font-size: 24px !important;
}

.active {
  background-image: linear-gradient(
    90deg,
    #34c9dd 0%,
    var(--first-color) 51%,
    #3b86ff 100%
  );
  background-size: 200% auto;
  border-radius: 5rem;
  color: white !important;
}

.bars {
  width: 24px;
  height: 14px;
  position: relative;
}

.bars::before,
.bars::after {
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
  height: 3px;
  z-index: 900;
  background-color: var(--first-color-img-work);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.bars::before {
  top: 0;
}

.bars::after {
  bottom: 0;
}

.bars::before,
.bars::after,
.show__bars::after,
.show__bars::before {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.show__bars::after {
  transform: translate(-10%, -350%) rotate(-45deg);
  -webkit-transform: translate(-10%, -350%) rotate(-45deg);
  -moz-transform: translate(-10%, -350%) rotate(-45deg);
  -ms-transform: translate(-10%, -350%) rotate(-45deg);
  -o-transform: translate(-10%, -350%) rotate(-45deg);
}

.show__bars::before {
  transform: translate(-10%, 10%) rotate(45deg);
  -webkit-transform: translate(-10%, 10%) rotate(45deg);
  -moz-transform: translate(-10%, 10%) rotate(45deg);
  -ms-transform: translate(-10%, 10%) rotate(45deg);
  -o-transform: translate(-10%, 10%) rotate(45deg);
}

.show {
  right: 0;
}

.backdrop__bar {
  background-color: rgba(0, 0, 0, 0.322);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  display: none;
}

.backdrop__bar_show {
  display: flex;
}

/* FIn de los estilos de la barra superior */
/* Estilos del apartado principal de presentacion */
.home {
  padding-top: 4rem;
  margin-bottom: 1rem;
}

.home-img {
  margin-top: auto;
  margin-bottom: auto;
  row-gap: 1rem;
  display: flex;
  align-items: center;
}

.home_container {
  display: flex;
  justify-content: center;
  position: relative;
  grid-column-gap: 1rem;
  min-width: 100%;
}
.images-desktop {
  display: none;
}

.home__title {
  align-self: center;
}

.home_subtitle {
  margin-bottom: 1rem;
  color: var(--first-color);
  font-weight: 900;
}

.home_title {
  font-size: var(--big-font-size);
  text-shadow: -3px 3px #575b6831;
  color: var(--second-color);
  text-align: center;
}

.home_title-color {
  background: -webkit-linear-gradient(var(--first-color), var(--first-color));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--first-color);
  color: var(--first-color);
}

.home_img {
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.img_profile {
  width: 56%;
  object-fit: cover;
  object-position: top;
  opacity: 0.8;
}
/* Fin del apartado de presentacion */
/*Seccion sobre mi*/
.abount {
  position: relative;
  padding-bottom: 0 !important;
}

.abount_container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.abount_text {
  text-align: center;
  width: 95%;
}

.abount_title {
  margin-bottom: var(--mb-2);
  font-size: var(--font-size-title);
}
/* FIn de estilos sobre mi */
/*Seccion de las tecnologias que conozco*/
.skill_container {
  row-gap: 1rem;
  text-align: center;
}

.skill_title {
  margin-bottom: var(--mb-1);
  padding-left: var(--mb-1);
  font-size: var(--font-size-title);
}

.skill_text {
  margin-bottom: var(--mb-5);
  padding-left: var(--mb-1);
}

.skill_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semni);
  padding: 0.9rem 1rem;
  margin-bottom: var(--mb-2);
  border-radius: 0.5rem;
  background-color: var(--container-color);
  box-shadow: 7px 5px 13px rgb(30, 60, 78, 8%),
    -4px -3px 0px 0px rgb(37, 164, 239, 8%);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.skill_names {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.skill_bar {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: 2;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.skill_html {
  width: 80%;
  background-image: linear-gradient(90deg, #ff8201, #ff4700);
}

.skill_css {
  width: 85%;
  background-image: linear-gradient(90deg, #0090f0, #16dcff);
}

.skill_sass {
  width: 50%;
  background-image: linear-gradient(90deg, #ff2b7c, #ff0b4c);
}

.skill_bootstrap {
  width: 90%;
  background-image: linear-gradient(90deg, #950cf7, #7701cc);
}

.skill_tailwind {
  width: 80%;
  background-image: linear-gradient(90deg, #4f0ee9, #5f06c4);
}

.skill_javascript {
  width: 80%;
  background-image: linear-gradient(90deg, #f6f868, #fff700);
}

.skill_vue {
  width: 75%;
  background-image: linear-gradient(90deg, #56df44, #29ca13);
}

.skill_react {
  width: 70%;
  background-image: linear-gradient(90deg, #1088eb, #1e3ca1);
}

.skill_jquery {
  width: 60%;
  background-image: linear-gradient(90deg, #4087f2, #0b39f2);
}

.skill_node {
  width: 70%;
  background-image: linear-gradient(90deg, #56b82f, #16830c);
}

.skill_php {
  width: 75%;
  background-image: linear-gradient(90deg, #c44dff, #4f2af0);
}

.skill_laravel {
  width: 80%;
  background-image: linear-gradient(90deg, #fdb122, #fa5716);
}

.skill_mysql {
  width: 80%;
  background-image: linear-gradient(90deg, #27e7f5, #ff9900);
}

.skill_git {
  width: 80%;
  background-image: linear-gradient(90deg, #21d0d6, #fad816, #39c939, #ff7070);
}
/* Fin de estilos de tecnologias */
/* Experiencias */
.experences {
  grid-template-columns: 1fr;
  gap: 0.75rem;
}
.date-experences {
  text-align: center;
  align-self: center;
}
.text-experences {
  text-align: center;
  color: #80828d;
}

.position {
  margin-top: 0.25rem;
}

.experences_container {
  grid-template-columns: 1fr;
  padding-left: 0;
  gap: 0.25rem;
  margin: 0;
  margin-bottom: 1rem;
  max-width: 100% !important;
}

.img_experence {
  min-height: -webkit-fill-available;
}

@media (min-width: 769px) {
  .experences {
    grid-template-columns: 1fr 2fr;
  }
  .experences_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .img_experence {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}
/*Seccion sobre mis trabajos*/
.works {
  padding: 0 !important;
}

.works_title {
  text-align: center;
  margin-bottom: var(--mb-4);
  font-size: var(--font-size-title);
  padding-left: var(--mb-3);
  padding-right: var(--mb-3);
}

.works_text {
  margin-bottom: var(--mb-5);
  padding-left: var(--mb-1);
  display: flex;
  justify-content: center;
}

.mb_works {
  margin-bottom: -50px;
}

.works_container {
  row-gap: 2rem;
  grid-template-columns: 100%;
}

.img_works {
  height: 15rem;
}

.img_works,
.container_img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.body-work {
  padding: 0.85rem;
}

.container-badge-work {
  margin-top: 0.75rem;
}

.badge-work {
  display: inline-block;
  padding: 0.25rem;
  padding-left: 0.65rem;
  padding-right: 0.65rem;
  border-radius: 50rem;
  color: white;
  margin-bottom: 0.45rem;
  margin-right: 0.25rem;
  background-color: rgb(8, 13, 26);
}

.footer-work {
  padding: 0.85rem;
  padding-top: 0;
  padding-bottom: 1.2rem;
  display: grid;
  align-content: space-between;
}

.footer-work p {
  text-align: justify;
}
.link_work {
  position: absolute;
  top: 0;
  left: 0;
  width: 100.3%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    150deg,
    var(--first-color-img-work),
    var(--second-color-img-work)
  );
  color: var(--text-color-img-work);
  opacity: 0;
  transition: all 0.4s;
  transform-origin: bottom;
  transform-style: preserve-3d;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  padding: 1.5rem;
}

@media (min-width: 720px) {
  .mt-10 {
    margin-top: 1rem;
  }
}

.container_img {
  overflow: hidden;
  transform-style: preserve-3d;
  border-radius: 0.5rem;
  box-shadow: rgb(0, 0, 0, 14%) 8px 13px 13px -12px;
  display: grid;
  background-color: var(--container-color);
}

.container_img img {
  transform-origin: top;
  transform-style: preserve-3d;
  transition: 0.4s ease-in-out;
  transform: rotateX(0deg);
  min-width: 100%;
}

.works_img:hover img {
  transform: scale(1.1);
}

.button-seegithub {
  text-align: center;
  padding-top: var(--mb-3);
  padding-bottom: var(--mb-6);
}
/*Seccion sobre que puedo ayudar*/

.help {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
}

.help_title {
  text-align: center;
  margin-bottom: var(--mb-2);
  font-size: var(--font-size-title);
}

.help_container {
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 2rem;
}

.card-help {
  padding: 0.9rem 0.5rem;
  margin: 0 !important;
  margin-bottom: 2rem !important;
  border-radius: 0.5rem;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 17px -8px #9599a529;
  transition: all 0.5s ease-in-out !important;
  cursor: unset;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 0.2rem;
  background-color: var(--three-color);
  margin-bottom: 1rem !important;
  max-width: 100% !important;
}

.card-help:hover {
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 17px -3px #576eb33d;
  opacity: 1;
}

.icon_help {
  justify-self: center;
  border-radius: 0.5rem;
  padding: 0rem 1rem;
  align-self: center;
  font-size: var(--h1);
  color: white;
}

.blue {
  background-color: var(--first-color);
}

.purple {
  background-color: rgb(152, 115, 255);
}

.red {
  background-color: rgb(255, 95, 95);
}

/* FIn de seccion de que puedo ayudar */
/* COntactos */
.contacts {
  padding-top: var(--mb-2) !important;
}
.group-contacts {
  margin-bottom: 1rem;
}
/* Fin de seccion de contatos  */
/* Footer */
.footer {
  text-align: center;
  padding-bottom: 2rem;
  min-height: 6rem;
  padding-top: var(--mb-3) !important;
  padding-bottom: var(--mb-3) !important;
  background-color: var(--for-color);
}

.footer_container {
  row-gap: 1rem;
  text-align: center;
}

.social_container {
  grid-template-columns: 100%;
}

.social-footer {
  margin-top: var(--mb-5);
  justify-items: center;
}

.list_social {
  position: relative;
  list-style: none;
  display: flex;
  transform-style: preserve-3d;
  margin-bottom: 0.75rem;
}

.list_social li {
  margin-right: 2rem;
}

.list_social li:nth-child(4) {
  margin-right: 0rem;
}

.list_social li a {
  color: var(--second-color);
  font-size: 22px;
}

.credits {
  text-align: center;
  font-weight: 600;
}

.text {
  width: 90%;
}

@media screen and (max-width: 769px) {
  .home__title {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 769px) {
  body {
    margin: 0;
  }

  .social-footer {
    justify-items: center;
    margin-top: 0;
  }

  .footer-footer {
    grid-template-columns: repeat(2, 1fr);
  }

  .d-md-flex {
    display: flex;
  }

  .home_subtitle {
    margin-bottom: 3rem;
  }

  .home_container {
    min-width: auto;
  }

  .images-desktop {
    display: initial;
  }

  .home__social {
    justify-items: initial;
  }

  .card-help {
    margin-bottom: 0rem;
  }

  .help {
    margin-top: 0;
  }

  .img_profile {
    width: 90%;
    max-height: 25rem !important;
    opacity: initial;
  }

  .section {
    padding-top: var(--mb-4);
    padding-bottom: var(--mb-4);
  }

  .social_media {
    text-align: start;
  }

  .section-title {
    margin-bottom: var(--mb-6);
  }

  .abount_text {
    width: 75%;
  }

  .section-title::after {
    width: 80px;
    top: 3rem;
  }

  .l-header-scroll-not .nav {
    transition: all 0.4s ease-in-out;
    height: calc(var(--header-height) + 1.5rem);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
  }

  .l-header-scroll .nav {
    height: calc(var(--header-height) + 1rem);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
  }

  .nav_brand {
    margin-left: var(--mb-2);
  }

  .nav_list {
    display: flex;
    padding-top: 0;
  }

  .nav_item {
    margin-left: var(--mb-3);
    margin-bottom: 0;
    align-self: center;
  }

  .nav_item:nth-child(6) {
    margin-right: var(--mb-2);
  }

  .nav_link {
    color: var(--second-color);
  }

  .nav_toogle {
    display: none;
  }

  .text {
    width: 50%;
  }

  .home_data {
    align-self: flex-end;
  }

  .home_social {
    padding-top: 0;
    padding-bottom: var(--mb-4);
    flex-direction: row;
    align-self: flex-end;
  }

  .home_img {
    bottom: 15%;
    padding-top: 0rem;
    width: 75%;
  }

  .home_title,
  .subtitle {
    text-align: inherit;
  }

  .home_title {
    padding-top: 0rem;
  }

  .abount_container,
  .skill_container {
    align-items: center;
    text-align: initial;
  }

  .skill_container {
    grid-template-columns: repeat(4, 1fr);
  }

  .abount_ img img {
    width: 300px;
  }

  .works_container {
    padding-top: var(--mb-1);
    padding-bottom: var(--mb-1);
    margin-bottom: 0;
    grid-template-columns: repeat(3, 1fr);
  }

  .help_container {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    padding: 0;
  }
  .contacts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }
  .img_profile {
    width: 90%;
    max-height: 26rem !important;
  }
  /* .home_title,
    .social_media {
        padding-left: var(--mb-3);
    } */
  .social {
    padding-left: var(--mb-3);
  }
  .home {
    padding-top: 4.8rem;
    justify-content: center;
    /*        min-height: 100vh;
*/
  }
  .d-icon-block {
    display: contents;
  }
  .abount_text {
    width: 65%;
  }
}

@media (min-width: 1400px) {
  .bd-grid {
    max-width: 1200px;
  }
  .abount_text {
    width: 50%;
  }
}

@media (max-width: 450px) {
  .works_container {
    grid-template-columns: 100%;
  }
  .works_img:hover .tooltip {
    top: -70%;
    right: 0;
    opacity: 1;
  }
  .works_img:hover .top_50 {
    top: -50%;
    right: 0;
  }
  .works_img:hover .top_75 {
    top: -75%;
    right: 0;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate2 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    border-top-color: rgba(0, 0, 0, 0.5);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border-top-color: var(--first-color);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-top-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes rotate2 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    border-top-color: rgba(0, 0, 0, 0.7);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border-top-color: var(--first-color);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-top-color: rgba(0, 0, 0, 0.8);
  }
}

#loader {
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
}

.loader {
  position: relative;
  margin: 75px auto;
  width: 150px;
  height: 150px;
  display: block;
  overflow: hidden;
}

.loader div {
  height: 100%;
}

.loader4,
.loader4 div {
  border-radius: 50%;
  padding: 8px;
  border: 4px solid transparent;
  -webkit-animation: rotate linear 3.5s infinite;
  animation: rotate linear 3.5s infinite;
  border-radius: 50%;
  padding: 4px;
  -webkit-animation: rotate2 4s infinite linear;
  animation: rotate2 4s infinite linear;
}

.loader,
.loader * {
  will-change: transform;
}

.switch {
  font-size: 15px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.3em;
  width: 1.3em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #303136;
}

input:checked + .slider:before {
  transform: translateX(1.5em);
  background: #303136;
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -5px 0 0 #a3dafb;
}

.text-success {
  color: #2de297;
}
.text-error {
  color: #fd5e74;
}

.preload_container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 1020;
  position: fixed;
  background-color: var(--text-color-img-work);
  top: 0;
}
